{{ 'cart-drawer-new.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-drawer-new.js' |  asset_url }}" defer></script>

<div class="cart-drawer__wrapper cart-drawer--active color-{{ section.settings.color_scheme }}">
  <div class="cart-drawer__box">
    <header class="cart-drawer__header">
      <div class="cart-header__b1">
        <h2>{{ section.settings.cart_title }}</h2>
        <span class="cart-items">{{ cart.item_count }}</span>
        <button class="cart-close__btn">{{ 'icon-close.svg' | inline_asset_content }}</button>
      </div>
      <div class="cart-header__b2">

      </div>
    </header>
  </div>
</div>

{% schema %}
  {
    "name": "Cart Drawer",
    "tag": "section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:section.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "inline_richtext",
        "id": "cart_title",
        "label": "Title",
        "default": "Cart Title"
      },
      {
        "type": "inline_richtext",
        "id": "user_signup",
        "label": "Membership Upsell",
        "info": "Short desctiption to redirect to membership upsell."
        
      }
    ],
    "presets": [
      {
        "name": "Cart Drawer"
      }
    ]
  }
{% endschema %}