{{ 'cart-drawer-new.css' | asset_url | stylesheet_tag }}
<script src="{{ 'cart-drawer-new.js' |  asset_url }}" defer></script>

<div class="cart-drawer__wrapper cart-drawer--active color-{{ section.settings.color_scheme }}">
  <div class="cart-drawer__box">
    <header class="cart-drawer__header">
      <div class="cart-header__b1">
        <h2>{{ section.settings.cart_title }}</h2>
        <span class="cart-items__count">{{ cart.item_count }}</span>
        <button class="cart-close__btn">{{ 'icon-close-new.svg' | inline_asset_content }}</button>
      </div>
      <div class="cart-header__b2">
        <p>{{ section.settings.user_signup }} <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">Learn More</a>.</p>
      </div>
      {% comment %} <div class="cart-header__b3">
        <p>Add <span>{{ cart.items_subtotal_price |  money_with_currency }}</span> more to get $20 in store credit!</p>
      </div> {% endcomment %}
    </header>
    {% form 'cart', cart, class: 'cart-drawer__form' %} 
      {% if cart.item_count == 0 %} 
        <p class="cart-drawer__empty">Your cart is empty</p>  
      {% else %} 
        <div class="cart-drawer__items">
          {% for item in cart.items %}
            <div class="line-item__wrapper">
              <div class="line-item__img">
                <img src="{{ item.image |  image_url: width: item.image.width }}" alt="{{ item.title }}">
              </div>
              <div class="line-item__info">
                <div class="line-item__header">
                  <h2 class="line-item__title">
                    {{ item.product.title | default: item.title }}
                  </h2>
                  <h4 class="line-item__variant">
                    {{ item.variant.title }}
                  </h4>
                  <a href="{{ item.url_to_remove }}" class="line-item__remove">{{ 'icon-dustbin.svg' | inline_asset_content }}</a>
                </div>
                <div class="line-item__mid">
                  <div class="line-item__price-wrapper">
                    <span class="line-item__current-price">{{ item.price |  money_with_currency }}</span>
                    <span class=""></span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endform %}
  </div>
</div>

{% schema %}
  {
    "name": "Cart Drawer",
    "tag": "section",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:section.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "inline_richtext",
        "id": "cart_title",
        "label": "Title",
        "default": "Cart Title"
      },
      {
        "type": "inline_richtext",
        "id": "user_signup",
        "label": "Membership Upsell",
        "info": "Short description to redirect to membership upsell.",
        "default": "Short Description."
      }
    ],
    "presets": [
      {
        "name": "Cart Drawer"
      }
    ]
  }
{% endschema %}